.ActionMiniContent{   
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 3px;

}

.ActionMiniContent img{
   height: 100%;   
}