.MenuContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
    height: 40px;  
}

.ItemMenuContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 60px;
      
}

.ItemMenuContent span{
    color: white;
    font-size: 22px; 
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}