

.Container{
    width: 100%;
    height: 150px;
    background-color: black;
}
.SocialMediasArea{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}
.BussinessLogoArea{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
}
.BussinessLogo{
    height: 50%;
}
.ImgArea{
    width: 100%;
    height: 100%;    
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.Img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;    
}

.MenuBackGroundArea{
    width: 100%;
    height: 25px;
    background-color: red;
    position: absolute;
    z-index: 0;
    margin-top: 9.2%;
}
.MenuArea{
    display: flex;
    position: absolute;
    z-index: 4;
    margin-top: 8.6%;
    width: 100%;
}
.MenuButtonArea{
    display: none;
}
.MenuItensArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

@media screen and (max-width: 768px) {
    .MenuArea{
        display: block;
        margin-top: 5%;
    }
    .MenuBackGroundArea{
        display: none;
    }  
    .Container{
        height: 80px;
    }  
    .BussinessLogoArea{
        height: 80px;
    }
    .MenuButtonArea{
        display: block;
    }
    .MenuItensArea{
        display: none;
        margin: 0;
        width: 100%;
    }
 
    
}

@media screen and (min-width: 1600px) {
    .Container{
        height: 150px;
    }
    .BussinessLogoArea{
        height: 150px;
    }
    .MenuBackGroundArea{
        height: 30px;
        margin-top: 9%;
    }

}

@media screen and (min-width: 1600px) {
    .Container{
        height: 150px;
    }
    .BussinessLogoArea{
        height: 150px;
    }
    .MenuBackGroundArea{
        height: 30px;
        margin-top: 9%;
    }

}

@media screen and (min-width: 1920px) {
    .Container{
        height: 200px;
    }
    .BussinessLogoArea{
        height: 200px;
    }
    .MenuBackGroundArea{
        height: 30px;
        margin-top: 9%;
    }

}

@media screen and (min-width: 2560px) {
    .Container{
        height: 300px;
    }
    .BussinessLogoArea{
        height: 300px;
    }
    .MenuBackGroundArea{
        height: 40px;
        margin-top: 10.2%;
    }

}

@media screen and (min-width: 3860px) {
    .Container{
        height: 400px;
    }
    .BussinessLogoArea{
        height: 400px;
    }
    .MenuBackGroundArea{
        height: 60px;
        margin-top: 9%;
    }

}



